# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Django
/staticfiles/
media/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Environment variables
.env
*.env
