<!-- We take the blocks from base.html and override them here -->

{% extends "base.html" %} <!-- importing the base into the file -->

{% block title %} 
DevTack.io
{% endblock title %}

{% block content %} 
<div class="container mt-5 text-center">
    <h1 class="display-4 fw-bold">DevTrack.io</h1>
    <p class="lead mt-3">A personal learning companion for developers to track coding challenges, milestones and daily progress.</p>
    <div class="mt-4">
        <a href="{% url 'website:login' %}" class="btn btn-primary btn-lg me-3">Login</a>
        <a href="{% url 'website:signup' %}" class="btn btn-outline-primary btn-lg">Sign Up</a>
    </div>
</div>
{% endblock content %}